.cproject
.project
.settings
*.o
*.a

# git files that we don't want to ignore even it they are dot-files
!.gitignore

# Generated include files

# cscope files
cscope.*
ncscope.*

*~
\#*#

CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
cmake_install.cmake
Makefile

Temporary

